<!DOCTYPE html>
<html>
    <head>
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style1.css">
        <title></title>
    </head>

<body>
<container>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>Fake<span>Book</span></h1>
            </div>
            <ul class="navigation">
                <a><li>Home</li></a>
                <a><li>About</li></a>
                <a><li>ATLD</li></a>
                <a><li>Contact</li></a>
            </ul>
        </div>
    </div>
    
    <div class="user_name">
    <h1>KajaCaia</h1>   
    <p> Music Enthusiast </p>
        <p> <img src="/static/img/me.jpg"> </p>
        <p> Go to Instagram page
            <a href="https://www.instagram.com/kaiacaia/"> Kaiacaia </a>
    </p>
    </div>
        
   <div class="content">
       <div class="about">
<h4>  About me </h4>
<p> #music #plants #travel #edm </p>
<pre>
So free my mind, all the talking
Wasting all your time
I'm giving all
That I've got.
</pre>
       </div>
       <div class="details">
<h4> All The Little Details </h4>
<p><strong>Pros:</strong> Energetic, fun, dog lover.</p>
<p><strong>Cons:</strong> Restless.</p>
<p><strong>Favourite song:</strong> Currently "Flume feat. Kučka - Hyperreal"</p>
<p><strong>Favourite artist:</strong> The list is endless. </p>
       </div>
  <div class="button">  
      <button>Join My Journey</button>
       </div>
    </div>
    </container>
</body>

</html>